body {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    background-image: url("/static/mini robot.png");

}



 

    
#computergo {
    position: absolute;
    background: #64066F;
    color: white;
    font-family: Arial;
    font-size: 20px;
    padding: 16px 30px 10px 30px;
    text-decoration: none;
    left: 12.1cm;
    top: 1.7cm;
}

#computerleft {
    position: absolute;
    background: #64066F;
    color: white;
    font-family: Arial;
    font-size: 20px;
    padding: 16px 10px 10px 10px;
    text-decoration: none;
    left: 17.4cm;
    top: 7cm;
    
}

#computerright {
    position: absolute;
    background: #64066F;
    color: white;
    font-family: Arial;
    font-size: 20px;
    padding: 15px 10px 10px 10px;
    text-decoration: none;
    left: 6.6cm;
    top: 7cm;
}

#computerback {
    position: absolute;
    background: #64066F;
    color: white;
    font-family: Arial;
    font-size: 20px;
    padding: 16px 30px 10px 20px;
    text-decoration: none;
    left: 12cm;
    top: 12.3cm;
}
